{% extends 'base_post.html' %}
{% import "_macros.html" as macros %}

{% block title %}BlogZ - Post{% endblock %}
{% block post_content %}
<ul class="breadcrumb">
    {% set dirdc = dir.split('/') %}
    {% if dirdc[1] %}
        <li><a href="{{ url_for('.dir', dirpath=dirdc[1]) }}">{{ dirdc[1] }}</a> <span class="divider"></span></li>
    {% endif %}
    {% if dirdc[2] %}
        <li><a href="{{ url_for('.dir', dirpath=dirdc[1]+'/'+dirdc[2]) }}">{{ dirdc[2] }}</a> <span class="divider"></span></li>
    {% endif %}
    {% if dirdc[3] %}
        <li><a href="{{ url_for('.dir', dirpath=dirdc[1]+'/'+dirdc[2]+'/'+dirdc[3]) }}">{{ dirdc[3] }}</a> <span class="divider"></span></li>
    {% endif %}
</ul>
{% include '_posts.html' %}

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.blog') }}
</div>
{% endif %}
{% endblock %}

